html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body {
    background-image: url(img/square_bg_@2X.png);
}

/* Navigation Bar */
header div {
    background-color: rgba(107,202,226,0.95);
    margin-right: 0px;
    margin-left: 0px;
    position: fixed;
    height: 3em;
    width: 100%;
    text-align: center;
    z-index: 100;

}

header div a {
    line-height: 3em;   /* Has to match the height of the navbar*/
    padding: 0em 5em 0em 5em;
    font-family: "Arial", serif;
    color: darkslategrey;
    text-decoration: none;
}

header div form {
    display: inline;
}

header div a:visited, header div a:link {
    color: darkslategrey;
}
header div a:hover {
    color: cadetblue;
}
/******************/

/* Documents */
.document{
    text-align: center;
}



/******************/
/* Login Box */
.invalidPassword {

    margin: 0px auto;
    width: 15em;
    padding: .5em .5em .5em .5em;
    color: #FF6961;
    text-align: center;
    font-family: "Arial", serif;
    font-size: 1.5em;
    line-height: 2em;
    background-color: aquamarine;
    border-radius: 25px;
    margin-top: 5%;
}

div.loginForm {
    margin: 0px auto;
    margin-top: 5em;
    width: 16em;
    background-color: aquamarine;
    border-radius: 25px;
}

div.loginForm form{
    padding: 2em 2em 2em 2em;
}

div.loginForm form p {
    font-family: "Arial", serif;
    font-size: 1.5em;
    margin-bottom: .5em;
}

div.loginForm form input {
    font-size: .75em;
    width: 180px;
}

div.loginForm form input.buttonForm {
    display: inline;
}

/*************/
/* New User Page */
.center{
    text-align: center;
    font-size: 5em;
    color: red;
}


div.newUserForm {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;   /* Subtract half of the height */
    margin-left: -125px;  /* Subtract half of the width */
    width: 250px;
    height: 47em;
    background-color: aquamarine;
    border-radius: 25px;
}

div.newUserForm form{
    padding: 2em 2em 2em 2em;
}

div.newUserForm form p {
    font-family: "Arial", serif;
    font-size: 1.5em;
    margin-bottom: .5em;
}

.privacySelect{
    text-align: center;
}

div.newUserForm form input {
    font-size: .75em;
    width: 180px;
}

div.newUserForm form input.buttonForm {
    width: 89px;
    display: inline;
}


/********************/
/* Basic Page Setup */
/* The main body of the page */
.main {
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    margin-top: 3.5em;
    width:100%;			/* width of whole page */
    overflow:hidden;		/* This chops off any overhanging divs */
    font-family: "Arial", serif;
}

.left,
.right {
    float:left;
    position:relative;
    padding: 1em 1em 1em 1em;
    overflow:hidden;
    border-radius: 8px;

}

.right {
    width: 40em;			/* right column content width */
    background-color: aquamarine;
}

.left {
    background-color: darkturquoise;
    margin-left: .5em;
    margin-right: 1em;
    width: 12em;
}

.left p {
    margin: 0.5em;
}

.options {
    background: mintcream;
    margin: 0.5em;
    border: thin solid grey;
    font-family: "Arial", Arial, sans-serif;
}

.options p {
    padding: 0;
    margin: 0;
    border-top: thin solid grey;
    background: mintcream;
    padding: 0.1em 0.25em;
}

.options a:link, .options a:visited {
    color: lightseagreen;
}

.options a:hover {
    color: lightgreen;
}
.options h2 {
    margin: 0;
    padding: 0;
    background: lightseagreen;
    color: mintcream;
    font-size: 1em;
    padding: 0.2em 0.25em 0.1em 0.25em;
    font-weight: normal;
}

.profile h1 {
    font-size: 2.5em;
    font-weight: normal;
}

.profile p {
    font-size: 1.25em;
    line-height: 1.5em;
}
.profile form {
    display: inline;
}


/******************/
/* Profile */

.sighting {
    font-family: "Arial", Arial, sans-serif;
    width:96%;
    padding:0.5em;
    color: white;
    background: lightseagreen;
    margin: 0.5em auto 0.5em auto;
    border-radius: 0.3em;
    border: 1pt solid grey;
    text-align: left;
}

.sighting a:link, .sighting a:visited {
    color: mintcream;
}

.sighting a:hover {
    color: gold;
}

p.time {
    padding: 0;
    margin: 0;
    font-size: 0.8em;

}

ol {
    list-style-type: none;
}

.doc-delete {
    display: inline;
}

#error {
    color: red;
}